@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/*----------------------------------------------------*/

#root {
    height: 100vh;
}

html {
    scroll-behavior: smooth;
}

body {
    height: 100vh;
    background: #ffffff;
    color: white;
    font-family: "Inter", sans-serif;
}

/*----------------------------------------------------*/

// Breakpoints
$breakpoint-xl: 1200px;
$breakpoint-lg: 992px;
$breakpoint-md: 768px;
$breakpoint-sm: 576px;
$breakpoint-xs: 320px;

/*----------------------------------------------------*/

.navMargin{
    margin-top: 120px;
}

.btn {
    padding: 15px 25px;
    cursor: pointer;
    font-size: 20px;
    transition: 0.3s;
    position: relative;
}

.container{
    border: 1px solid green;
    width: 70%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 30px;

    &-nav{
        background: none;
    }

    @media screen and (max-width: $breakpoint-xl) {
        width: 80%;
    }

    @media screen and (max-width: $breakpoint-lg) {
        width: 80%;
    }

    @media screen and (max-width: $breakpoint-md) {
        width: 85%;
    }

    @media screen and (max-width: $breakpoint-sm) {
        width: 90%;
    }

    @media screen and (max-width: $breakpoint-xs) {
        width: 95%;
    }
}