// Poppins Font Import
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/*----------------------------------------------------*/

#root {
  height: calc(100dvh - 80px);
  overflow: visible;
}

html {
  scroll-behavior: smooth;
}

body {
  height: calc(100dvh - 80px);
  background: white;
  color: white;
  font-family: "Poppins", sans-serif;
}

/*----------------------------------------------------*/

// Breakpoints
$breakpoint-xl: 1200px;
$breakpoint-lg: 992px;
$breakpoint-md: 768px;
$breakpoint-sm: 576px;
$breakpoint-xs: 320px;

/*----------------------------------------------------*/

.btn {
  padding: 5px 10px;
  cursor: pointer;
  font-size: 20px;
  transition: 0.3s;
  position: relative;
}

.container {
  width: 70%;
  max-width: 1200px;
  margin-inline: auto;
  padding-top: 50px;

  &-nav {
    background: none;
    width: 72%;

    @media screen and (max-width: $breakpoint-xl) {
      width: 82%;
    }

    @media screen and (max-width: $breakpoint-lg) {
      width: 82%;
    }

    @media screen and (max-width: $breakpoint-md) {
      width: 89%;
    }

    @media screen and (max-width: $breakpoint-sm) {
      width: 95%;
    }

    @media screen and (max-width: $breakpoint-xs) {
      width: 97%;
    }
  }

  @media screen and (max-width: $breakpoint-xl) {
    width: 80%;
  }

  @media screen and (max-width: $breakpoint-lg) {
    width: 80%;
  }

  @media screen and (max-width: $breakpoint-md) {
    width: 85%;
  }

  @media screen and (max-width: $breakpoint-sm) {
    width: 90%;
  }

  @media screen and (max-width: $breakpoint-xs) {
    width: 95%;
  }
}

/*----------------------------------------------------*/

#qrcode {
  width: 200px;
  height: 200px;

  svg {
    width: 100% !important;
    height: 100% !important;
  }
}

/*----------------------------------------------------*/